<!-- デバッグ表示 -->
<div id="ui_debug">

        <!-- 負荷 -->
        <div id="ui_load_viewer">
        </div>

        <br>
        <!-- 変数表示 -->
        <span class="label label-success">Variables</span>
        <div id="ui_debug_variables">
        </div>

        <br>
        <!-- JSON -->
        <span class="label label-success">JSON</span>
        <div id="ui_json">
        </div>
</div>
