<a data-toggle="modal" href="#manualModal" class="btn btn-success btn-block">
    <i class="icon-archive"></i>
    Manual
</a>
<div class="modal fade" id="manualModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">データをローカルに保存しますか？</h4>
            </div>
            <div class="modal-body">
                データ:xxxxxxxxxxxxxxxxxxxxxxxx
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary">はい</button>
            </div>
        </div>
    </div>
</div>